<html>
	<head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <script src="/js/angular.js"></script>
        <script src="/js/app_frontend.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/mainpage.js"></script>
        <script src="/js/list.js"></script>
	</head>

	<body ng-app="projekt" ng-cloak>

    <div ng-controller="mainPageController as mainpage">
        <button ng-click="mainpage.toggleView(0)" class="btn btn-primary" type="button">register
        </button>
        <button ng-click="mainpage.toggleView(1)" class="btn btn-primary" type="button">login
        </button>
        <button ng-click="mainpage.toggleView(2)" class="btn btn-primary" type="button">list
        </button>



    <div ng-show="mainpage.viewId == 0" ng-controller="RegisterController as register">
        <p>register</p>
        <p>email <input ng-model="email" type="text"> equals {{ register.email }} </p>
        <p>pass <input ng-model="pass" type="pass"> equals {{ register.pass }} </p>
        <button ng-click="register.send(email, pass)" class="btn btn-primary" type="button">Send
        </button>
    </div>



    <div ng-show="mainpage.viewId == 1" ng-controller="LoginController as login">
        <p>Login</p>
        <p>email <input ng-model="email" type="text"> equals {{ login.email }} </p>
        <p>pass <input ng-model="pass" type="pass"> equals {{ login.pass }} </p>
        <button ng-click="login.send(email, pass)" class="btn btn-primary" type="button">Send
        </button>
    </div>

    <div ng-show="mainpage.viewId==2" ng-controller="ListController as list">
        <p>list</p>
        <ul>
            <li ng-repeat="user in list.users">{{user.email}} {{user.password}}
            <a href="#" ng-click="list.log(user)">log</a>
            </li>
        </ul>
        <button type="button" ng-click="getUsers()">Refresh</button>
    </div>
    </div>
	</body>
</html>
