

    <div ng-show="mainpage.viewId==2" ng-controller="ListController as list">
        <p>list</p>
        <ul>
            <li ng-repeat="user in list.users">{{user.email}} {{user.password}}
            <a href="#" ng-click="list.log(user)">log</a>
            </li>
        </ul>
        <button type="button" ng-click="getUsers()">Refresh</button>
    </div>