 <div ng-show="mainpage.viewId == 1" ng-controller="LoginController as login">
        <p>Login</p>
        <p>email <input ng-model="email" type="text"> equals {{ login.email }} </p>
        <p>pass <input ng-model="pass" type="pass"> equals {{ login.pass }} </p>
        <button ng-click="login.send(email, pass)" class="btn btn-primary" type="button">Send
        </button>
    </div>