
  <div ng-show="mainpage.viewId == 0" ng-controller="RegisterController as register">
        <p>register</p>
        <p>email <input ng-model="email" type="text"> equals {{ register.email }} </p>
        <p>pass <input ng-model="pass" type="pass"> equals {{ register.pass }} </p>
        <button ng-click="register.send(email, pass)" class="btn btn-primary" type="button">Send
        </button>
    </div>
